body {
  font-family: Arial, sans-serif; }

.main {
  background-color: red;
  -webkit-box-shadow: 33px 21px 5px 10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 33px 21px 5px 10px rgba(0, 0, 0, 0.75);
  box-shadow: 33px 21px 5px 10px rgba(0, 0, 0, 0.75);
  border: 3px solid black; }
  .main h1 {
    font-size: 120;
    color: white; }
    .main h1 .main-content {
      display: flex;
      justify-content: flex-end; }
