
// variaveis SASS

$primary:green;
$secondary:yellow;
$danger:red;
$info:whitesmoke;
$columns:12;
$width:100;
$width-large:$width * 5 ; 
$main-font:Arial, sans-serif;
$font-size:20px;

body{
    background-color: $info;
    font-family: $main-font;    
}

.main{
background-color: $danger; 

    h1{
    font-size: $font-size * 6;

    .main-content{
        display: flex;
        justify-content: flex-end;

}
