// variaveis SASS

@import "variaveis";
@import "boxshadow";

body {
//   background-color: $info;
   font-family: $main-font;
}
$tamborda:3px;

@mixin bordapp {
    border:$tamborda solid black;
}

.main {
    background-color: $danger;
    @include boxshadow(); 
    @include bordapp();

  h1 {
    font-size: $font-size * 6;
    color: $cor;

    .main-content {
     
      display: flex;
      justify-content: flex-end;
    }
  }
}
